  /**** MODAL CSS****/

  
  .modal-dialog {
    max-width: 950px;
    
    margin: 20px auto;
}
.modal-body {
    
    position:relative;
    padding:0px;
    min-width: 50%;
  }
  .close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color:#fff;
    opacity:1;
  }




.display-4{
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.lead{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.watch-reel{
    text-align: center;
    display: block;
    width: 200px;
    position: inherit;
    margin: auto;
    
}
.btn-primary{
    background-color: transparent;
    border-color: #828282;
    
}

.btn-primary:hover{
    background-color: transparent;
    border-color:white;
}

.about-section{
    text-align: justify;
    
}

nav{
background: transparent; 

}

.navbar{
    background: transparent
}

.navbar-brand{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    
}

.nav-item{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
   
    
}

.nav-item:hover{
    font-family:'Roboto', sans-serif;
    border-bottom: 2px solid;
    border-bottom-color: #000000;

        
}



.branding-orange{
    color:#828282;

}
.branding-black{
    color: darkgray;
}




.video-title{
    text-align: center;
}

.recent-title{
    text-align: center;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

.gallery-title{
    text-align: center;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

.about-title{
    text-align: right;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

.about-text{
    text-align: justify;
}
.description-center{
    text-align: center;
}

.about{
    padding-top: 50px;
    padding-bottom: 50px;
}

.gallery{
    padding-top: 50px;
    padding-bottom: 50px;
}

.video-still{
   
}

.i-image{
margin-bottom: 12px;
}

.contact{
    padding-top: 50px;
    text-align: center;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

.p-center{
   
    text-align: center;
    margin: auto;
    font-weight: bold;
}




/* VIDEO STYLE*/

.jumbotron {
    position: relative;
    overflow: hidden;
    background-color:black;
    height: 600px;
  }
  .jumbotron video {
    position: absolute;
    z-index: 1;
    top: 0;
    width:100%;
    height:100%;
    /*  object-fit is not supported on IE  */
    object-fit: cover;
    opacity:0.5;
  }
  .jumbotron .container {
    z-index: 2;
    position: relative;
  }
  

  .footer{
      background-color: gray;
  }


  


  @media only screen and (max-width: 767px) {
    .navbar-brand{
        font-size: 20px;
    }
    body{
        margin:auto;
        
    }
   
    .click{
        font-size: 25px;
        padding: 2px;
        margin: auto;
    }
    .column1{
    padding-left: 20px;
    margin-left: 140px;

    }
    .about{
        height: 800px;
    }
    .cell-container{
        height: auto;
        align-content: center;
        margin:auto;
       width: 50%;
       margin-left: 6px;

    }
}







  