  /**** MODAL CSS****/

  
  .modal-dialog {
    max-width: 950px;
    
    margin: 20px auto;
}
.modal-body {
    
    position:relative;
    padding:0px;
    min-width: 50%;
  }
  .close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color:#fff;
    opacity:1;
  }




.display-4{
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.lead{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.watch-reel{
    text-align: center;
    display: block;
    width: 200px;
    position: inherit;
    margin: auto;
    
}
.btn-primary{
    background-color: transparent;
    border-color: #828282;
    
}

.btn-primary:hover{
    background-color: transparent;
    border-color:white;
}

.about-section{
    text-align: justify;
    
}

nav{
background: transparent; 
margin-top: 10px; 
}

.navbar{
    background: transparent
}

.navbar-brand{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    
}

.branding-orange{
    color:#828282;

}
.branding-black{
    color: darkgray;
}


.collapse{
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 20px;
    padding-left: 10px;
    margin-left: 30px;

}

.video-title{
    text-align: center;
}

.recent-title{
    text-align: center;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

.gallery-title{
    text-align: center;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

.about-title{
    text-align: center;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}
.description-center{
    text-align: center;
}

.about{
    padding-top: 50px;
    padding-bottom: 50px;
}

.gallery{
    padding-top: 50px;
    padding-bottom: 50px;
}

.video-still{
   
}

.i-image{
margin-bottom: 12px;
}

.contact{
    padding-top: 50px;
    text-align: center;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

.p-center{
   
    text-align: center;
    margin: auto;
    font-weight: bold;
}




/* VIDEO STYLE*/

.jumbotron {
    position: relative;
    overflow: hidden;
    background-color:black;
    height: 600px;
  }
  .jumbotron video {
    position: absolute;
    z-index: 1;
    top: 0;
    width:100%;
    height:100%;
    /*  object-fit is not supported on IE  */
    object-fit: cover;
    opacity:0.5;
  }
  .jumbotron .container {
    z-index: 2;
    position: relative;
  }
  

  .footer{
      background-color: gray;
  }





  